<div class="js-lyric">
  [G]QUE VIVA MI CRISTO, QUE VIVA [D7]MI REY
  ¡QUE IM[C]PERE DOQ[G]UIERA TR[D7]IUNFANTE [G]SU LEY !
  ¡QUE IM[C]PERE DOQ[G]UIERA TR[D7]IUNFANTE [G]SU LEY !

  ¡[D7]VIVA CRISTO [G]REY!
  ¡[D7]VIVA CRISTO [G]REY!
</div>
